{% extends 'base.html' %}

{% block extra_styles %}
<style>
	li {
		list-style-type: none;
	}
</style>
{% endblock %}

{% block content %}
<h1 class="major">Algoritmo de Huffman</h1>
<form method="get">
	<h2>Descrição</h2>
	<p>
		O algoritmo de Huffman é um algoritmo de compressão de dados <strong>sem perdas</strong> que é amplamente
		utilizado para compactar informações, como texto em linguagem natural. Ele foi
		<strong>desenvolvido por David A. Huffman</strong> em 1952 enquanto ele era um estudante de doutorado no MIT.
	</p>

	<h2>Exemplo</h2>
	<div class="row actions">
		<div class="col-10 col-12-xsmall">
			<input type="text" name="string" value="{{string}}" placeholder="Texto" />
		</div>
		<li class="col-2"><input type="submit" value="Comprimir" class="primary" /></li>
	</div>
	{% if compressed_data %}
	<br>
	<div class="table-wrapper">
		<table>
			<thead>
				<tr>
					<th>Caracter</th>
					<th>Código</th>
					<th>Frequência</th>
				</tr>
			</thead>
			<tbody>
				{% for data in compressed_data %}
				<tr>
					<td>{{data.char}}</td>
					<td>{{data.code}}</td>
					<td>{{data.frequency}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endif %}

</form>
{% endblock %}