<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li><a href="{% url 'home' %}" data-section="home">Home</a></li>
                <li><a href="{% url 'shannon_fano_view' %}" data-section="shannon-fano">Shannon Fano</a></li>
                <li><a href="{% url 'huffman_view' %}" data-section="huffman">Huffman</a></li>
                <li><a href="{% url 'meme_generator_view' %}" data-section="meme-generator">Gerador de memes</a></li>
            </ul>
        </nav>
    </div>
</section>